@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* nav */

@media screen and (min-width: 992px) {
    .nav-btn {
        width: 5.5rem;
        min-height: fit-content;
        height: 8vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
        color: #2D3237;
    }
}

.nav-container {
    z-index: 2;
}

.nav-btn {
    background-color: #2D3237;
    color: white;
}

.nav-size {
    height: 10vh;
}

.active-nav {
    color: gray;
    border: gray solid 1px;
}


/* main */

.filters{
    background-color: #cf2b7a57;
    user-select: none;
    height: fit-content;

}

.btn-search{
    background-color: white !important;
    color: #C10861 !important;
    border: #C10861 1px solid !important;
    height: 2.5rem;
    margin: 0;
}
.btn-search:hover{
    cursor: default;
}

h1 {
    background-color: #C10861;
    width: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    height: 10vh;
    margin-bottom: 0;
}

main {
    min-height: 72vh;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    margin-top: 2rem;
    gap: 2rem;
}

.card {
    height: 25rem;
}

.card img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.see-more{
    border: #C10861 1px solid;
    color: #ffffff;
}

.see-more:hover{
    color: #fca4cf;
    border: #C10861 1px solid;
}

.form {
    width: 25rem;
}
.contact{
    border: white 1px solid;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #cf2b7a57;
}
.details-container {
    border: #2d32372a 1px solid;
    width: 70%;
    display: flex;
    gap: 2rem;
    padding: 2rem;
}
.details-text{
    height: fit-content;
    margin: auto;
}
.details-img{
    height: 30rem;
    object-fit: cover;
}
@media screen and (max-width: 991px) {
    .details-container {
        flex-direction: column;
        margin: 2rem;
        width: 60%;
    }

    .details-img {
        height: 15rem;
        object-fit: contain;
    }
}

@media screen and (max-width: 560px) {
    .details-container {
        flex-direction: column;
        margin: 2rem;
        width: 80%;
    }
    .form{
        margin: 0.5rem 0;
        width: 95%;
        border: none;
    }
}


.details-container img {
    object-fit: cover;
}

.table {
    width: 80%;
    margin: 0 auto;
}

td {
    height: 1.7rem;
    padding: 0;
}

.table-title {
    background-color: #2D3237 !important;
    color: #fff;
    font-weight: 600;

}

th {
    background-color: #cf2b7a57 !important;
    font-weight: 400;
}

.btn-primary {
    background-color: #2D3237 !important;
}

th,
td {
    align-items: center;

}


/* footer */

footer {
    min-height: 8vh;
    background-color: #C10861;
}

footer a img {
    height: 2.3rem;
}

.wsp {
    padding: 0.25rem;
}




